* {
  /* border box? why? what? */
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.container {
  display: flex;
  margin: 100px auto;
  padding: 50px;
  max-width: 400px;
  background-color: black;
  border: 3px solid ghostwhite;
  border-radius: 10px;
  justify-content: center;
}

.calculator {
  display: block;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 5px;
}

#display-wrapper {
  text-align: right;
  justify-content: flex-end;
  padding-right: 10px;
}

#display {
  background-color: black;
  color: whitesmoke;
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0.3em;
  margin: 0;
  margin-bottom: 0.25em;
}

/* BUTTON STYLING */
.calculator button {
  font-size: larger;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  max-height: 100px;
  max-width: 100px;
  margin: 0;
  padding: 0;
  border: 0;
}

.function-btn {
  background-color: rgb(205, 205, 205);
  color: black;
}

.function-btn:hover {
  background-color: rgb(246, 244, 244);
}

.operator-btn,
#equals {
  background-color: rgb(245, 159, 1);
  color: whitesmoke;
}

.operator-btn:hover,
#equals:hover {
  background-color: rgb(250, 197, 98);
  color: black;
}

.number-btn,
#decimal {
  background-color: rgb(105, 105, 105);
  color: whitesmoke;
}

.number-btn:hover,
#decimal:hover {
  background-color: rgb(195, 195, 195);
}

#zero {
  width: 100%;
  text-align: left;
}

#zero-span {
  text-align: left;
  margin-left: 20px;
}
